
.App {
  text-align: center;
  width: 1600px;
  height: 900px;
  grid-template-columns: repeat(320,1fr);
  grid-template-rows: repeat(180,1fr);
  position: relative;
  top: 25px;
  left: 150px;
  background: hsl(230deg, 100%, 95%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.Title {
  font-size: 100px;
  position: relative;
  width: 800px;
  height: 150px;
  top: 100px;
  left: 400px;
  /* background: silver; */
}
.Title-screen-button-container {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 320px;
    height: 460px;
    position: relative;
    top: 150px;
    left: 630px;
}
.Button {
    background: hsl(270deg, 100%, 75%);
    border: 0px;
    width: 320px;
    height: 120px;
    font-size: 80px;
    justify-content: center;
}
.Button:hover {
    background: hsl(340deg, 100%, 75%)
}
.Button:click {
    background: hsl(0deg, 100%, 75%)
}

.Normal-text {
    position: relative;
    justify-content: center;
    font-size: 40px;
}

.Section-label {
    position: relative;
    justify-content: center;
    font-size: 60px;
}